:root {
    --color-background: #FDFBF9;
    --color-primary:  #ffa2a2;
    --color-secondary:#fcdbdb;

    --color-accent: #9ad5e2;
    --color-support: #e0f0ff;

    --color-text-dark: #444444;
    --color-text-light: #ffffff;

    --color-hover-primary: #95b8d1;
    --color-hover-accent: #ffb6b6;

    --blue: #b5f1fc;
    --dark-blue: #85b9c2;
    --green: #baffcf;
    --dark-green: #69c985;
    --orange: #ffe0cc;
    --dark-orange: #e2ba8d;
    --purple: #d5c5f3;
    --dark-purple: #bc9ed1;
    --yellow: #fff3be;
    --dark-yellow: #cec393;
    --red: #ffb8b8;
    --dark-red: #cc8a8a;
    --pink: #ffe7fd;
    --dark-pink: #ccb1ca;

}


html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: var(--color-text-dark);
}

body {
    font-family: "IBM Plex Sans", sans-serif;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    text-align: center;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.25rem;
}

h1,
h2 {
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
    padding: 3rem 0;
    letter-spacing: 0.05rem;
}

h1 {
    padding: 1rem 0 2rem 0;
    font-size: 2.5rem;
    color: var(--color-primary);
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1.175rem;
    line-height: 1.5;
    letter-spacing: 0.0125rem;
    font-weight: 500;
}

.icon {
    text-align: left;
    font-size: 1.28rem;
    font-weight: 400;
    margin: 0.125rem 0 0 0;
    color: var(--color-primary);
}

svg {
    width: 50px;
    fill: var(--color-primary);
}

.container{
    background-image: url(../images/bg-main-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4.5rem 1.5rem 0 1.5rem;
}

.hero img {
    width: 85%;
    height: auto;
    padding: 3.5rem 0 0 0;
    
}

.about {
    padding: 12rem 1.35rem 10rem 1.35rem;
    margin: -4.70rem 0 0 0;
    text-align: center;
    background-color: var(--color-background);
}

.about h2{
    color: var(--color-text-dark);
    padding: 0 0 3rem 0;
}

.about p {
    padding: 0 0 2rem 0;
    color: var(--color-text-dark);
}


.about img {
    width: 70%;
}

.skills {
    padding: 8rem 1.2rem 3rem 1.25rem;
    margin: -8rem 1.5rem;
    background-color: var(--color-support);
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
}

.img__skills {
    width: 75%;
    padding: 2.5rem 0 0 0;
    margin: auto;
}

.highlight{
    color: var(--color-text-dark);
    font-size: 2.5rem;
}

.skills__subtitle{
    font-weight: bold;
    font-size: 1.75rem;
    padding: 1rem 0;
    color: var(--color-hover-primary);
}

.label__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 0.25rem 2rem 0.25rem;
}

.tag {
    background-color: var(--bg);
    border: 2px solid var(--border);
    margin: 0.20rem;
    padding: 0.25rem 0.65rem;
    border-radius: 6px;
}

.tag.blue   {   --bg: var(--blue);       --border: var(--dark-blue);    }
.tag.green  {   --bg: var(--green);      --border: var(--dark-green);   }
.tag.orange {   --bg: var(--orange);     --border: var(--dark-orange);  }
.tag.purple {   --bg: var(--purple);     --border: var(--dark-purple);  }
.tag.yellow {   --bg: var(--yellow);     --border: var(--dark-yellow);  }
.tag.red    {   --bg: var(--red);        --border: var(--dark-red);     }
.tag.pink   {   --bg: var(--pink);       --border: var(--dark-pink);    }

.experience {
    margin: 15rem 0 0 0;
    border-radius: 30px 30px;
    padding: 0 2rem 4rem 2rem;
    background-color: var(--color-support);
}

.experience h2 {
    font-size: 2.25rem;
}

.img__container {
    border-radius: 10px;
    padding: 1.375rem;
    margin: 3rem 0 4rem 0;
    background-color: var(--color-text-light);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
}

.img__projects {
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.experience__labels {
    display: flex;
    justify-content: left;
    padding: 0.5rem 0;
    margin: 0.25rem 0 0 0;
}

.title__project {
    text-align: left;
    font-size: 1.75rem;
    padding: 1.5rem 0 0.5rem 0;
    font-weight: 600;
}

.description__project {
    text-align: left;
    font-size: 1.12rem;
    padding: 1.5rem 0 2.5rem 0;

}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn {
    width: 100%;
    margin: 0 0.5rem 1.5rem 0.5rem;
    text-decoration: none;
    background-color: var(--bg);
    color: var(--clr);
    padding: 1rem;
    font-weight: 500;
}

.btn.black {
    --bg: var(--color-text-dark);
    --clr: var(--color-text-light);
}

.work{
    padding: 3rem 0;
    background-image: url(../images/2bg-main-mobile.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.work h2{
    padding: 2rem 0 0 0;
    margin: 0 0 2rem 0;
    font-size: 1.75rem;
}

.images{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.work__img{
    width: 180px;
    height: 50px;
    padding: 1rem 0;
}

footer{
    background-color: var(--color-text-dark);
    padding: 4rem 0;
}

.footer__icon{
    display: flex;   
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer svg{
    width: 50px;
    fill: var(--color-text-light);
}

.footer__logotext{
    font-size: 1rem;
    margin: 0.5rem 0 0 0;
    color: var(--color-text-light);
}

.network__container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5rem 1.5rem;
}

.network__icon{
    width: 45px;
    margin: 0 1rem 0 1rem;
}

a{
    color: var(--color-accent);
}

footer p{
    padding: 1rem 0 0 0;
    color: var(--color-text-light);
    font-size: 0.75rem;
}

@media screen and (min-width: 1280px) {
    svg{
        width: 90px;
    }
    
    .icon {
        font-size: 2.375rem;
    }

    .container{
        background-image: url(../images/bg-main-desktop.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .hero{
        padding: 0 6rem 8rem 6rem;
    }

    h1{
        font-size: 4.5rem;
        padding: 0 0 4rem 0;
    }

    .hero p{
        font-size: 1.75rem;
    }

    .hero img {
        width: 28%;
        padding: 3.5rem 0 0 0;
    }

    .about {
        padding: 5rem 15rem 15rem 15rem;
        border-radius: 200px 200px 0 0;
    }

    .about h2{
        font-size: 3rem;
    }

    .about p{
        font-size: 1.75rem;
        line-height: 1.5;
    }

    .skills {
        padding: 3rem 0rem;
        margin: 0;
    }

    .skills__container{
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
    }

    .skill__main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0rem;
        width: 38%;
    }

    .highlight{
        padding: 0;
    }

    .img__skills {
        width: 35%;
        padding: 1rem 0 3rem 0;
    }

    .highlight{
        font-size: 3rem;
        padding: 0 0 1rem 0;
    }

    .skills__description{
        font-size: 1.55rem;
        padding: 2rem 1rem;
    }

    .skills__subtitle{
        font-size: 2.5rem;
        padding: 2rem 0;
    }

    .tag{
        margin: 0.5rem;
        padding: 0.5rem 1.25rem;
        font-size: 1.375rem;
    }

    .experience {
        margin: 8rem 0 0 0;
        padding: 3rem 6rem 4rem 6rem;
    }

    .experience h2{    
        font-size: 3rem;
        padding: 2rem 0 1rem 0;
    }

    .experience p{
        font-size: 1.55rem;
        padding: 1rem 0;
    }

    .projects{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .img__container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40%;
        height: 280px;
    }

    .img__block{
        padding: 0 1rem 0 0;
    }

    .img__projects{
        height: 280px;
        width: 100%;
    }

    .work{
        background-size: cover;
    }
}